.bio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 10rem 10rem 10rem;
    gap: 125px;
    text-align: left;
}

.welcome {
    margin-bottom: 0;
    font-size: 1.2rem;
}

h1 {
    margin-top: 0;
}

h1, p {
    color: #3a3a3a;
}

.abt-me-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;
}

.links svg {
    height: 2em;
    width: 2em;
    color: #313131;
    transition: all ease 0.20s;
}

.links svg:hover {
    color: #fba92c;
}

@media (max-width: 1150px) {
    .bio {
        margin: 0 2rem;
    }
}

@media (max-width: 915px) {
    .bio {
        flex-direction: column;
        gap: 0;
    }
}

@media (max-width: 600px) {
    .bio {
        flex-direction: column;
        gap: 0;
        margin: 0 1rem;
    }

    .description p {
        font-size: 0.85rem;
    }
}