.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin: auto;
    gap: 60px;
    margin: 2rem 0;
}

.Muibox-root {
    transition: transform 0.15s ease-in-out;
}

.Muibox-root:hover {
    transform: scale3d(1.05, 1.05, 1);
}

@media(max-width: 550px) {
    .projects-container {
        gap: 15px;
    }
}