/*
Black: #000000

Medium Gray: #565656

Light Gray: #9e9e9e

Hot Orange: #fba92c

White: #FFFFFF
*/

.page-wrapper {
  background-color: white;
  margin: 0 10vw;
  height: 90vh;
  padding-top: 50px;
  border-radius: 5px;
  border: #9e9e9e solid 1px;
  box-shadow: 0 0 100px #565656;
  overflow-y: auto
}

.App {
  text-align: center;
  background: #9e9e9e;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.15s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
